<div fxFlexFill fxLayoutAlign="center center">

  <mat-card fxFlex="25">
    <mat-toolbar color="primary">
      <mat-card-title>Connexion</mat-card-title>
    </mat-toolbar>

    <mat-card-content>
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="mat-error">
            <div *ngIf="email?.errors.required">L'adresse mail est obligatoire</div>
            <div *ngIf="email?.errors.email">Le format de l'adresse mail n'est pas valide</div>
          </div>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="mat-error">
            <div *ngIf="password?.errors.required">Le mot de passe est obligatoire</div>
            <div *ngIf="password?.errors.minlength">Le mot de passe doit être d'au moins 6 caractères</div>
          </div>
        </mat-form-field>
        <button [disabled]="!loginForm.valid" mat-stroked-button mat-raised-button color="primary">Connexion</button>
      </form>
      <mat-card *ngIf="error" class="mat-error">{{error}}</mat-card>
    </mat-card-content>
  </mat-card>

</div>
