<div fxLayout="row" fxLayoutAlign="space-around center">
<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-image class="logo" [src]="imageIcon" alt="logo">
    </div>
    <mat-card-title class="title">Chronicles of Naruberaria</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="image" alt="Moodboard">
  <mat-card-content>
    <p>
      Ce jeu vous rendra accro ! Tant par sa diversité d’ennemis ou encore d’obstacles, ce jeu vous fera voyager dans un grand nombre de dimensions (CyberPunk, SteamPunk...) tout en vous plongeant dans cette belle aventure ! Sur votre route, vous rencontrerez des monstres plus horribles et féroces les uns que les autres vous mettant donc à l’épreuve ! Saurez-vous survivre et sauver le monde ? C’est de vous dont le monde a besoin !
    </p>
  </mat-card-content>
</mat-card>
</div>
