<div fxFlexFill fxLayoutAlign="center center" *ngIf="loading">
  <mat-card>
    <mat-card-content>
      <mat-progress-spinner
        class="example-margin"
        [color]="'primary'"
        mode="indeterminate"
        diameter="100">
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="player">
  <mat-card fxFlex="80">
    <mat-card-header>
      <mat-card-title>
        <p>Profil de {{player.name}} </p>
      </mat-card-title>
      <mat-card-subtitle><p> Adresse e-mail : {{player.user.email }}</p></mat-card-subtitle>
      <mat-card-subtitle><p> Présentation : {{player.bio }}</p></mat-card-subtitle>
      <mat-card-subtitle><p> Meilleur score : {{player.bestScore }}</p></mat-card-subtitle>
      <mat-card-subtitle><p> Temps de jeu : {{player.totalPlayTime }}</p></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayoutAlign="center center">
        <img mat-card-image [src]="player.avatar" class="img-avatar">
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center space-around">
      <button mat-raised-button (click)="editPlayer()">
        <mat-icon>edit</mat-icon>
      </button>
<!--      <button mat-raised-button>
        <mat-icon>delete</mat-icon>
      </button>-->
    </mat-card-actions>
  </mat-card>
</div>
