<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">
  <a mat-button routerLink="/"><h1>Chronicles of naruberaria</h1></a>
  <a mat-button routerLink="/home"><mat-icon>home</mat-icon> Accueil</a>
  <a mat-button routerLink="/game"><mat-icon>videogame_asset</mat-icon> Jeu</a>
  <div *ngIf="currentPlayer">
    <a mat-button [routerLink]="['player', 'liste']"><mat-icon>people</mat-icon> Joueurs</a>
  </div>

  <span class="flex"> </span>
  <div *ngIf="currentPlayer; else noconnected">
    <a mat-button [mat-menu-trigger-for]="menu">
      {{currentPlayer.name}} <mat-icon>more_vert</mat-icon>
    </a>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item [routerLink]="['players', currentPlayer.id]">
        Mon profil
      </button>
      <button mat-menu-item routerLink="/login" (click)="logout()">Déconnexion</button>
    </mat-menu>
  </div>
  <ng-template #noconnected>
    <a mat-button routerLink="/login">Connexion</a>
    <a mat-button routerLink="/register">Enregistrement</a>
  </ng-template>
</mat-toolbar>
